---
layout: layout.njk
internalName: post-detail
pagination:
  data: api.dataArray
  size: 1
  alias: contentarray
permalink: /property/{{ contentarray.Name | slug }}/
pageType: contentdetail
menuName: content
---
{{contentarray.Name}}
