---
layout: layout.njk
internalName: post-detail
pagination:
  data: api.dataArray
  size: 1
  alias: contentarray
permalink: /property/{{contentarray.Name | slug}}/
pageType: contentdetail
menuName: content
---
<div class="row">
    <table class="table">
        <tr>
            <td>
                Name
            </td>
            <td>
                {{contentarray.Name}}
            </td>
        </tr>
        <tr>
            <td>
                Cost
            </td>
            <td>
                {{contentarray.Property_local_cost}}
            </td>
        </tr>
        <tr>
            <td>
                Taxes
            </td>
            <td>
                {{contentarray.Property_taxes}}
            </td>
        </tr>
        <tr>
            <td>
                Currency
            </td>
            <td>
                {{contentarray.property_local_currency.currency_type}}
            </td>
        </tr>
        <tr>
          <td>
          Contract
          </td>
          <td>
          <a href="{{ contentarray.property_token.contract_address }}" target="_blank">{{ contentarray.property_token.contract_address }}</a>
        </tr>
    </table>
</div>
<div class="row">
    <h1>
        Rental Agreements
    </h1>
    <table class="table" id="rentaltable">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Deposit
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Active
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{contentarray.rental_agreement.id}}
                </td>
                <td>
                    {{contentarray.rental_agreement.name}}
                </td>
                <td>
                    {{contentarray.rental_agreement.rental_amount}}
                </td>
                <td>
                    {{contentarray.rental_agreement.deposit}}
                </td>
                <td>
                    {{contentarray.rental_agreement.start_date}}
                </td>
                <td>
                    {{contentarray.rental_agreement.end_date}}
                </td>
                <td>
                    Yes
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h1>
        Owners
    </h1>
    <table class="table" id="ownerstable">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Token
                </th>
                <th>
                    Share
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in contentarray._proptery_owners %}
            <tr>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.email}}
                </td>
                <td>
                    {{ item.token_amount }}
                </td>
                <td>
                    {{ item.token_amount / contentarray.Property_local_cost * 100}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <h1>
        Paid In
    </h1>
    <table class="table" id="paidintable">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        {%  set totalrent = 0 %}
{% for item in contentarray._rental_agreements.rental_payments %}
        <tbody>
            <tr>
                <td>
                    Rental Payment
                </td>
                <td>
                    rent
                </td>
                <td>
                    {{ item.payment_date }}
                </td>
                <td>
                    {%  if item.currency == "3" %}
     {{ item.amount | currencyConvertBAHT}}
    {% endif %}
                </td>
            </tr>
            {% set totalrent = totalrent+item.amount %}

{% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" style="text-align:right">
                    Total:
                </th>
                <th>
                    {{ totalrent | currencyConvertBAHT }}
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row">
    <h1>
        Paid out
    </h1>
    <table class="table" id="paidouttable">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        {%  set totalcost = 0 %}
        <tbody>
            {% for item in contentarray._rental_agreements.rental_costs %}
            <tr>
                <td>
                    Rental Cost
                </td>
                <td>
                    {{ item.description}}
                </td>
                <td>
                    {{ item.date }}
                </td>
                <td>
                    {% if item.currency == "3" %}
                      {{ item.amount | currencyConvertBAHT}}
                    {% endif %}
                </td>

            </tr>
            {% set totalcost = totalcost+item.amount %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" style="text-align:right">
                    Total:
                </th>
                <th>
                    {{ totalcost | currencyConvertBAHT }}
                </th>
            </tr>
            <tr>
                 <th colspan="3" style="text-align:right">
                    Total Left:
                </th>
                <th>
                    {%  set totalr =  totalrent - totalcost %}
                    {{ totalr | currencyConvertBAHT }}
                
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="row">
    <h1>
        Distributions
    </h1>
    <table class="table" id="disttable">
      <thead>
        <tr>
            <th>
                Payment to
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>

        </tr>
        </thead>
        <tbody>
        {% set totalcost =  totalrent - totalcost %}
        {% set totaldist =  0 %}

        {% for item in contentarray._owner_payments %}
          {% set totalcost = totalcost-item.amount %}
          {% set totaldist = totaldist+item.amount %}
        <tr>
            <td>
                {{item.proptery_owner.name}}
            </td>
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.amount | currencyConvertBAHT}}
            </td>
            <td>
                {{item.datepaid}}
            </td>

        </tr>
        {%  endfor %}
        </tbody>
                <tfoot>
            <tr>
                <th colspan="3" style="text-align:right">
                    Total Distributions:
                </th>
                <th>
                    {{  totaldist  | currencyConvertBAHT }}
                </th>
            </tr>
            <tr>
                 <th colspan="3" style="text-align:right">
                    Total Left:
                </th>
                <th>
                    {{ totalcost | currencyConvertBAHT }}
                
                </th>
            </tr>
        </tfoot>
    </table>
</div>

